.alert {
  padding: var(--spacing);
  
  &.alert--top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  &.alert--info {
    background: var(--default);
    color: var(--default-color);
  }

  &.alert--warning {
    background: var(--warning);
    color: var(--warning-color);
  }
}